.App {
  text-align: center;
}


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.AppHeader {
  background-color: #282c34;
  background-image:
    radial-gradient(at 80% 0%, rgb(106, 106, 106) 0px, transparent 50%),
    radial-gradient(at 0% 50%, rgb(50, 49, 61) 0px, transparent 50%),
    radial-gradient(at 80% 100%, rgb(72, 72, 72) 0px, transparent 50%),
    radial-gradient(at 0% 0%, rgb(25, 25, 25) 0px, transparent 50%);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(20px + 5vmin);
  font-weight: bold;
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}